@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Kanit", sans-serif;
    color: white;
}
.item{
    margin: 10px;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    background: rgb(100, 149, 237);
    align-content: center;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

.grid{
    display: grid;
}

.grid-template{
    grid-template:
    "header" 140px
    "section-1" 650px
    "footer" 200px
    / 1fr;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: #F6F6F6;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);

}

.section-1{
    background-color: #ff800000;
    display: flex;
    flex-direction: column;
    grid-area: section-1;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: #F6F6F6;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    grid-area: footer;
    grid-area: footer;
}

.nav_item{
    background-color: #ff8000;
    background-image: linear-gradient(to right, #ff8000, #ff9500);
    background-image: -webkit-linear-gradient(left, #ff8000, #ff9500);
    background-image: -moz-linear-gradient(left, #ff8000, #ff9500);
    background-image: -o-linear-gradient(left, #ff8000, #ff9500);
    background-image: linear-gradient(to right, #ff8000, #ff9500);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8000', endColorstr='#ff9500',GradientType=1 );
    border-radius: 20px;
    margin: 40px;
    list-style-type: none;
    padding: 10px;
}

.form-demanda{
    background-color: #F6F6F6;
    border-radius: 20px;
    color: black !important;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    padding: 30px;
}

.form-color{
    color: black !important;
}